# --- Gradle ---
.gradle/
build/
bin/

# --- IntelliJ IDEA ---
.idea/
*.iws
*.iml
*.ipr
out/

# --- Kotlin ---
.kotlin/
kotlin-js-store/

# --- Java & OS ---
*.class
*.log
.DS_Store
captures/

# --- Local Configuration ---
local.properties
.env